{% extends "allauth/layouts/base.html" %}
{% load i18n %}
{% load allauth account %}

{% block title %}
Подтверждение адреса электронной почты
{% endblock title %}
{% block content %}
<div class="discover-items item-details-page">
    <div class="container">
      {% setvar email_link %}
        <a href="mailto:{{ email }}">{{ email }}</a>
      {% endsetvar %}
      <div class="row">
        <div class="col-lg-10">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2><em>В</em>ведите код подтверждения электронной почты</h2>
            <p>Мы отправили код по адресу {{ email_link }}. Пожалуйста, введите код как можно скорее. Срок действия кода ограничен.</p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="col-lg-7">
            <form id="contact" action="{% url 'account_email_verification_sent' %}" method="post">

              <div slot="body">
                  {% csrf_token %}
                  {% element fields form=form unlabeled=True %}
                  {% endelement %}
                  {{ redirect_field }}
              </div>

              <div slot="actions">
                {% element button type="submit" tags="prominent,confirm" %}
                    {% translate "Confirm" %}
                {% endelement %}
                {% if cancel_url %}
                    {% element button href=cancel_url tags="link,cancel" %}
                        {% translate "Cancel" %}
                    {% endelement %}
                {% else %}
                    {% element button type="submit" form="logout-from-stage" tags="link,cancel" %}
                        {% translate "Cancel" %}
                    {% endelement %}
                {% endif %}
            </div>
            </form>
          </div>

        {% if not cancel_url %}
          <form id="logout-from-stage"
                method="post"
                action="{% url 'account_logout' %}">
              <input type="hidden" name="next" value="{% url 'account_login' %}">
              {% csrf_token %}
          </form>
        {% endif %}
         </div>
      </div>
    </div>
  </div>
{% endblock content %}