{% extends "allauth/layouts/base.html" %}
{% load allauth i18n %}

{% block title %}
Регистрация
{% endblock title %}

{% block content %}

<div class="discover-items item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Р<em>егистрация</em></h2>
          </div>
        </div>
        <div class="col-lg-7">
          <form id="contact" action="" method="post">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
              <div class="col-lg-7">
                <fieldset>
                  <label for="first_name">{{form.first_name.label_tag}}</label>
                  {{ form.first_name }}
                  <label for="last_name">{{form.last_name.label_tag}}</label>
                  {{ form.last_name }}
                  <label for="patronymic">{{form.patronymic.label_tag}}</label>
                  {{ form.patronymic }}
                  <label for="email">{{form.email.label_tag}}</label>
                  {{ form.email }}
                  <label for="password1">{{form.password1.label_tag}}</label>
                  {{ form.password1 }}
                  <label for="password2">{{form.password2.label_tag}}</label>
                  {{ form.password2 }}
                </fieldset>
                <div class="buttons">
                    <div class="main-button">
                        <a class="button_sign" href="{{ login_url }}">Уже есть аккаунт?</a>
                    </div>
                  </div>
                  <button type="submit" id="form-submit" class="orange-button">Зарегистрироваться</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}