{% extends 'default.html' %}

{% block title %}
Профиль
{% endblock title %}

{% block content %}
  <!-- ***** Header Area End ***** -->
  <div class="author-page discover-items">
    <div class="container">
      <div class="row">
		<p></p>
		<br>
		<br>
		<br>
		<br>
        <div class="row">
          <div class="col-lg-7">
              <div class="main-button">
                <a href="#" onclick="viewContent('my_posts', 'my_replies')">Мои объявления</a>
                <a href="#" onclick="viewContent('my_replies', 'my_posts')">Мои отклики</a>
                <a href="{% url 'create_post' %}">Создать объявление</a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="section-heading">
              <h2></h2>
            </div>
          </div>
          <div class="col-lg-7"></div>
        </div>
        <div class="col-lg-6">
          <div class="author">
            {% if request.user.profile.avatar.path %}
              <img src="{{ request.user.profile.avatar.url }}" alt="" style="border-radius: 50%; max-width: 170px; max-height: 170px;">
            {% else %}
              <img src="/static/assets/images/single-author2.jpg" alt="" style="border-radius: 50%; max-width: 170px; max-height: 170px;">
            {% endif %}
            <h4 style="margin-top: 20px">{{ request.user.profile }}
              <br> <a href="#">{{ request.user.email }}</a>
              <form id="add_file" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="1" name="change_avatar">
                {{ profile_form.avatar }}
                <div class="col-lg-6">
                  <button style="margin-top: 20px" type="submit">Изменить</button>
                </div>
              </form>
            </h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-info">
            <div class="row">
              <div class="col-3">
                <div class="info-item">
                  <i class="fa fa-check"></i>
                  <h6>{{ col_my_reply }} <em>Откликов</em></h6>
                </div>
              </div>
              <div class="col-4">
                <div class="info-item">
                  <i class="fa fa-highlighter"></i>
                  <h6>{{ col_my_posts }} <em>Объявлений</em></h6>
                </div>
              </div>
              <div class="col-5">
                <div class="info-item">
                  <i class="fa fa-eye"></i>
                  <h6>{{ col_active_posts }} <em>Активные отклики</em></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include "profile_my_replies.html" %}
        {% include "profile_my_posts.html" %}
        {% include "pagination.html" %}
       </div>
     </div>
   </div>
{% endblock content %}
