{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
Просмотр {{ request.get_full_path|get_title }}
{% endblock title %}

{% block content %}
<div class="discover-items item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="item">
          <div class="right-content">
            <h4>{{ post.title }} ({{ post.create_date|date:'l d, M' }})</h4>
            <span class="author owner">
              <h6>Автор: {{ post.author.first_name }} {{ post.author.last_name }} <a href="#">{{ post.author.email|get_nike }}</a></h6>
            </span>
            <div class="line-dec"></div>
            <span class="bid" style="color: #fff">
                {% if post.description %}
                    {{ post.description|safe }}
                {% else %}
                    {{ post.text|safe }}
                {% endif %}
            </span>
          </div>
        </div>
        {% if request.user.is_authenticated %}
          {% if 'post' in request.get_full_path %}
            <form method="POST" role="search">
                {% csrf_token %}
                <div id="contact" class="item" style="margin-top: 0px; padding: 30px 30px; width: 100%; max-width: 100%">
                    <span class="bid">
                      <strong>О</strong>ставить отклик<br>
                    </span>
                    <div class="line-dec"></div>
                    <textarea name="text" placeholder="Оставить отклик..." autocomplete="on" required style="border-radius: 10px;"> </textarea>
                  <span class="ends">
                    <button type="submit" id="form-submit" class="orange-button">Опубликовать</button>
                  </span>
                </div>
            </form>
          {% endif %}
          {% else %}
            <div id="contact" class="item" style="margin-top: 0px; padding: 30px 30px; width: 100%; max-width: 100%">
                <span class="bid">
                  Добавлять отклик могут только зарегистрированные пользователи.<br>
                </span>
                <div class="main-button">
                  <a href="{% url 'signup_url' %}">Регистрация</a>
                  <a href="{% url 'account_login' %}">Вход</a>
                </div>
            </div>
          {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}